<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="footer bg-dark text-white text-center">
    <div class="container">
        <p class="mb-0">© 2025 Teller Application. All rights reserved.</p>
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="mx-3"><a href="/about" class="text-white" target="_blank">About</a></li>
            <li class="mx-3"><a href="https://portfolio-builder-woad-beta.vercel.app/portfolio/public/66b309a9939760685059bfa7" class="text-white" target="_blank">Meet the Developer</a></li>
            <li class="mx-3"><a href="https://github.com/subham2020btecs00002/TELLER-APPLICATION" class="text-white" target="_blank">Source Code</a></li>
            <li class="mx-3"><a href="https://www.linkedin.com/in/subham-kumar-273370251/" class="text-white" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>
